/* HEADER */

.cabecalho {
    background-color: var(--preto1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 72px;
  }
  
  .cabecalho h1 a img {
    width: 200px;
  }
  
  .cabecalho .botao-agendar {
    background-color: var(--preto1);
    color: var(--branco1);
    border: 2px solid var(--branco1);
    font-size: 1.8rem;
    padding: 10px;
    cursor: pointer;
  }
  
  .cabecalho .botao-agendar:hover {
    border: 2px solid var(--vermelho1);
    color: #ffffff67;
  }
  
  /* HERO */
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--preto1);
    padding: 0px 72px;
    max-width: 100%;
  }
  
  .hero .hero-info {
    color: var(--branco1);
    max-width: 50%;
  }
  
  .hero .hero-info h2 {
    font-size: 5.6rem;
    width: 15ch;
    line-height: 6rem;
  }
  
  .hero .hero-info p {
    font-size: 2rem;
    margin-top: 15px;
    width: 40ch;
  }
  
  .hero .botao-agendar-vermelho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    background-color: var(--vermelho1);
    color: var(--branco1);
    font-size: 1.6rem;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
  }
  
  .hero .botao-agendar-vermelho:hover {
    background-color: var(--vermelho2);
  }
  
  .hero .botao-agendar-vermelho img {
    margin-right: 20px;
  }
  
  .hero .hero-image {
    width: 50%;
  }
  
  .hero .hero-image img {
    max-width: 100%;
  }
  
  /* SERVIÇOS */
  
  .nossos-servicos {
    font-size: 2rem;
    padding: 50px;
  }
  
  .nossos-servicos p {
    color: var(--vermelho2);
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nossos-servicos h2 {
    font-size: 4rem;
    margin-bottom: 32px;
  }
  
  .servicos {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    height: 432px;
  }
  
  .servicos .servico {
    display: flex;
    max-width: 60%;
    height: 450px;
    margin-right: 32px;
    border: 1px solid var(--preto1);
    background-color: var(--branco2);
    opacity: 0;
    position: absolute;
    transition: 1s ease-in-out;
  }
  
  .servicos .servico.mostrar {
    opacity: 1;
  }
  
  .servicos .servico img {
    min-width: 70%;
  }
  
  .servicos .servico .servico-info {
    padding: 20px;
    max-height: 100%;
  }
  
  .servicos .servico .servico-info h3 {
    font-size: 3rem;
    margin-bottom: 15px;
  }
  
  .servicos .servico .servico-info p {
    font-size: 1.8rem;
    color: var(--preto2);
  }
  
  #seta-voltar,
  #seta-avancar {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    color: var(--vermelho2);
    top: 190px;
  }
  
  #seta-voltar {
    left: 15%;
    transform: rotate(180deg);
  }
  
  #seta-avancar {
    right: 18%;
  }
  
  .icone-seta {
    font-size: 5rem;
  }
  
  #seta-voltar.opacidade,
  #seta-avancar.opacidade {
    opacity: 0.4;
    cursor: default;
  }
  
  /* LOCALIZAÇÃO */
  
  .nossa-localizacao {
    background-color: var(--branco2);
  }
  
  .nossa-localizacao .nossa-localizacao-info {
    padding: 50px;
  }
  
  .nossa-localizacao p:first-child {
    color: var(--vermelho2);
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nossa-localizacao h2 {
    font-size: 4rem;
    margin-bottom: 32px;
  }
  
  .nossa-localizacao p {
    color: var(--preto1);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
  }
  
  .nossa-localizacao p img {
    margin-right: 20px;
  }
  
  .nossa-localizacao .mapa {
    margin-top: 20px;
  }
  
  .nossa-localizacao .mapa iframe {
    min-width: 100%;
    border: 1px solid var(--preto2);
  }
  
  /* RODAPÉ */
  
  .rodape {
    background-color: var(--preto1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 72px;
  }
  
  .rodape .rodape-info h2 img {
    width: 150px;
  }
  
  .rodape .rodape-info p {
    color: var(--branco1);
    font-size: 1.2rem;
    margin-top: 15px;
  }
  
  .rodape .redes-sociais a {
    color: var(--branco1);
    font-size: 4rem;
    margin-left: 20px;
  }
  
  .rodape .redes-sociais a:hover {
    color: var(--vermelho2);
  }